<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор отпускных</title>
</head>
<body>
<form method="GET" action="/calculate">
	<article><h1>Калькулятор отпускных</h1></article>
    <label for="averageSalary">Средняя зарплата за 12 месяцев</label>
    <input type="textarea" name="averageSalary" id="averageSalary"/>
    <br/>
	<br/>
    <label for="numberOfDays">Количество дней отпуска  </label>
    <input type="number" name="numberOfDays" id="numberOfDays"/>
    <br/>
	<br/>
	<label for = "startDay" >Дата ухода в отпуск  </label>
	<input type = "date" name = "startDay" id ="startDay"/>
	<br/>
	<br/>
	<label for = "stopDay" >Дата окончания отпуска  </label>
	<input type = "date" name = "stopDay" id ="stopDay"/>
	<br/>
	<br/>
    
    <input type="submit" value="Вычислить сумму отпускных"/>
</form>
<div>
    <p> Ваши отпускные : </p>
    <p th:text="${vacationPayments}"></p>
</div>

</body>
</html>